<!--Carousel-->
<div id="carousel-container">
    <div id="SPCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <!-- Load slider vào đây -->
        </ol>
        <div class="carousel-inner">
            <!-- Load carousel vào đây -->
        </div>
        <a class="carousel-control-prev" href="#SPCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#SPCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>


<script>
//Hàm load carousel
$("document").ready(function () {
    $.ajax({
        url: "<%= domain %>/carousels/",
        method: "GET",
        error: function () {
            $('#info').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))</h2>');
        },
        success: function (data) {
            $.each(data.Items, function (i, item) {
                var html_to_append1 = '';
                html_to_append1 +=
                '<li data-target="#SPCarousel" class="carousel-slider" data-slide-to="'+i+'"></li>';

                $(".carousel-indicators").append(html_to_append1);
            });
            $.each(data.Items, function (i, item) {
                var html_to_append2 = '';
                html_to_append2 +=
                    '<a id="' + item.ID_Carousel + '" href="' + item.LinkBaiViet + '" class="carousel-item">' +
                    '<img class="d-block w-100 " src="' + item.LinkAnh + '" >' +
                    '<div class="carousel-caption d-none d-md-block">' +
                    '</div>' +
                    '</a>';

                $(".carousel-inner").append(html_to_append2);
            });
            $('.carousel-item').first().addClass('active');
            $('.carousel-slider').first().addClass('active');
        }
    });

    return false;
});
</script>