<nav class="navbar-dark bg-dark" style=" color:#FFF">
    <div class="container">
        <div id="info-footer"></div>
        <div class="row text-center" style="padding-top: 2rem">
            <div class="col-md-4 ">
                <img src="https://hqk.s3.us-west-1.amazonaws.com/Logo/logo.png" style="height: 10rem; padding-left:2rem ">
                <br><br>
                <ul id="dataTT" style="list-style-type: none; text-align: center">
                    <li><h5>Thông tin</h5></li>
                    <!--$("#dataTT").append('<li><h5>Thông tin</h5></li>');-->
                    <!--<li><a href="" class="footer-item-color">Giới thiệu về HQKStore</a></li> -->
                    <!-- Data FAQ -->

                </ul>
            </div>
            <div class="col-md-4">
                <br>
                <ul id="dataCSKH" style="list-style-type: none; text-align: center">
                    <li><h5>CSKH</h5></li>
                    <!-- Data CSKH -->
                </ul>
                <br>
                <ul id="dataFAQ" style="list-style-type: none; text-align: center">
                    <li><h5>FAQ</h5></li>
                    <!-- Data FAQ -->
                </ul>
            </div>
            <div class="col-md-4">
                <div class="col-12">
                    <br>
                    <ul id="dataCH" style="list-style-type: none; text-align: center">
                        <li><h5>Hệ thống cửa hàng HQKStore</h5></li>
                        <!-- Data cửa hàng được load vào đây-->
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <br>
                <h6 class="text-center" style="margin-bottom: 0;">Đặt hàng và thu tiền tận nơi toàn quốc</h6>
                <h5 class="text-center">034.606.5968</h5>
            </div>
        </div>
        <hr style="margin: 10px 0; border-top: 1px solid #FFFFFF">
        <div class="row" style="padding-bottom: 0.5rem">
            <div class="col-sm-10  col-xs-12">
                <p style="margin-bottom: 0;">© 2019 - CÔNG TY TNHH HQK Store</p>
                <p style="margin-bottom: 0; font-size: 9px;">Giấy CNĐKDN: 0310874914 – Ngày cấp: 25/11/2011 - Cơ quan
                    cấp: Phòng Đăng Ký Kinh Doanh – Sở Kế Hoạch và Đầu Tư TP.HCM</p>
                <p style="margin-bottom: 0; font-size: 9px;">Địa chỉ đăng ký kinh doanh: 766 Nguyễn Văn Quá, Phường 10,
                    Quận 12, TP.HCM - Điện thoại: 034.606.5968 - Email: quangnguyen.4298@gmail.com</p>
            </div>
            <div class="col-sm-2 col-xs-12">
                <a href="#">
                    <img src="https://hqk.s3.us-west-1.amazonaws.com/bocongthuong.png" alt=""
                         style="width: 100%; max-width:200px; margin-top:10px;">
                </a>
            </div>
        </div>
        <a href="#" id="back-to-top" title="Back to top"><i style="font-size:35px" class="fas fa-chevron-up"></i></a>
    </div>
</nav>
<script>
//Load Footer thông tin
$("document").ready(function(){
    $.ajax({
        url: "<%=domain%>/footers/tt",
        method: "GET",
        error: function(err) {
            $('#info-footer').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))'+err+'</h2>');
        },
        success: function(data) {
            $.each(data.Items, function(i, item) {

                var html_to_append =
                    '<li><a href="'+item.Link+'" class="footer-item-color" target="_blank">'+item.TenLienKet+'</a></li>';
                $("#dataTT").append(html_to_append);
            });
        }
    });
    return false;
});

//Load Footer chăm sóc KH
$("document").ready(function(){
    $.ajax({
        url: "<%=domain%>/footers/cskh",
        method: "GET",
        error: function(err) {
            $('#info-footer').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))'+err+'</h2>');
        },
        success: function(data) {
            $.each(data.Items, function(i, item) {

                var html_to_append =
                    '<li><a  href="'+item.Link+'" class="footer-item-color" target="_blank">'+item.TenLienKet+'</a></li>';
                $("#dataCSKH").append(html_to_append);
            });
        }
    });
    return false;
});

//Load Footer FAQ
$("document").ready(function(){
    $.ajax({
        url: "<%=domain%>/footers/faq",
        method: "GET",
        error: function(err) {
            $('#info-footer').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))'+err+'</h2>');
        },
        success: function(data) {
            $.each(data.Items, function(i, item) {

                var html_to_append =
                    '<li><a href="'+item.Link+'" class="footer-item-color" target="_blank">'+item.TenLienKet+'</a></li>';
                $("#dataFAQ").append(html_to_append);
            });
        }
    });
    return false;
});

//Load Footer CH
$("document").ready(function(){
    $.ajax({
        url: "<%=domain%>/footers/ch",
        method: "GET",
        error: function(err) {
            $('#info-footer').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))'+err+'</h2>');
        },
        success: function(data) {
            $.each(data.Items, function(i, item) {
                var html_to_append =
            '<li><a href="https://www.google.com/maps/search/'+item.TenLienKet.Ten+'" class="footer-item-color" target="_blank">'+item.TenLienKet.Ten+'</a></li>';
                $("#dataCH").append(html_to_append);
            });
        }
    });
    return false;
});

</script>

