<nav class="navbar-dark bg-dark" style=" color:#FFF">
    <div class="lead h2 text-center" style="padding-top:20px;">
        <a href="#" id="back-to-top" title="Back to top"><i style="font-size:35px" class="fas fa-chevron-up"></i></a>
        <div class="row">
            <div class="col-md-4">
                <img src="//res.yame.vn/Content/images/yame-f-logo-white.png" style="height: 70px;">
                <br>
                <h4>Thông tin</h4>
                <ul style="list-style-type: none">
                    <li class="lead"><a href="/page/gioi-thieu-ve-yame">Giới thiệu về YaMe.vn</a></li>
                    <li><a href="/page/tuyen-dung">Tuyển dụng</a></li>
                    <li>.</li>
                    <li><a href="/page/quy-che-hoat-dong">Quy chế hoạt động</a></li>
                    <li><a href="/page/dieu-khoan-mua-ban-hang-hoa">Điều khoản mua bán</a></li>
                    <li>.</li>
                    <li><a href="/voucher" class="boxed-content-title" style="color: #337ab7;">Mã Voucher giảm giá</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="left-aligned">
                    <div class="left-aligned">
                        <br>
                        <p style="margin-bottom: 0;">Đặt hàng và thu tiền tận nơi toàn quốc</p>
                        <h5 class="boxed-content-title">(028) 7307 1441</h5>
                    </div>
                    <br>
                    <h5>CSKH</h5>
                    <p style="margin-bottom: 0;">
                        <a style="color:#337ab7;" href="https://yame.vn/thanphien" target="_blank">Than phiền/Chăm sóc khách hàng</a>
                    </p>
                </div>
                <br>
                <h4>FAQ</h4>
                <ul style="list-style-type: none">
                    <li><a href="/page/van-chuyen">Vận chuyển</a></li>
                    <li><a href="/page/chinh-sach-doi-tra">Chính sách đổi trả</a></li>
                    <li><a href="/page/chinh-sach-bao-hanh">Chính sách bảo hành</a></li>
                    <li><a href="/page/khach-hang-vip">Khách hàng VIP</a></li>
                    <li><a href="/page/doi-tac-cung-cap">Đối tác cung cấp</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-12">
                        <br>
                        <p>Hệ thống cửa hàng YaMe.vn</p>
                        <ul style="list-style-type: none">
                            <li><a href="/page/van-chuyen">Vận chuyển</a></li>
                            <li><a href="/page/chinh-sach-doi-tra">Chính sách đổi trả</a></li>
                            <li><a href="/page/chinh-sach-bao-hanh">Chính sách bảo hành</a></li>
                            <li><a href="/page/khach-hang-vip">Khách hàng VIP</a></li>
                            <li><a href="/page/doi-tac-cung-cap">Đối tác cung cấp</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10  col-xs-12">
                <hr style="margin: 10px 0;">
                <p style="margin-bottom: 0;">© 2019 - CÔNG TY TNHH YAME VN</p>
                <p style="margin-bottom: 0; font-size: 9px;">Giấy CNĐKDN: 0310874914 – Ngày cấp: 25/11/2011 - Cơ quan cấp: Phòng Đăng Ký Kinh Doanh – Sở Kế Hoạch và Đầu Tư TP.HCM</p>
                <p style="margin-bottom: 0; font-size: 9px;">Địa chỉ đăng ký kinh doanh: 766/3B-3C Sư Vạn Hạnh (Nối dài), Phường 12, Quận 10, TP.HCM - Điện thoại: 028 3868 4857 - Email: cskh@yame.vn</p>
            </div>
            <div class="col-sm-2 col-xs-12">
                <a href="http://online.gov.vn/CustomWebsiteDisplay.aspx?DocId=1848" target="_blank">
                    <img src="https://res.yame.vn/dathongbao.png" alt="" style="width: 100%; max-width:200px; margin-top:10px;">
                </a>
            </div>
        </div>
    </div>

</nav>

