<%dataa.forEach(function (item) { %>
    <div class="col">
        <div class="card" style="width: 12rem; height: 392px; margin-bottom: 1rem" >
            <img class="card-img-top" src="<%= item.Avatar %>" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title" ><%= item.TenSanPham %></h5>
                <p class="card-text"><%= item.Gia %> VND</p>
            </div>
            <a href="<%= "/sanPhams?id="+item.ID_SanPham%>" class="btn btn-primary">Xem chi tiết</a>
        </div>
    </div>
<%}); %>