<!doctype html>
<title>Bảo trì website</title>
<style>
    body { text-align: center; padding: 150px; }
    h1 { font-size: 50px; }
    body { font: 20px Helvetica, sans-serif; color: #333; }
    article { display: block; text-align: left; width: 650px; margin: 0 auto; }
    a { color: #dc8100; text-decoration: none; }
    a:hover { color: #333; text-decoration: none; }
</style>

<article>
    <h1>Website đang được bảo trì !</h1>
    <div>
        <p>Xin lỗi vì sự bất tiện này, chúng tôi đang cập nhật hệ thống, xin vui lòng quay lại sau ! <a href="https://www.facebook.com/bb.4298">Liên hệ chúng tôi</a></p>
        <p>&mdash; HQK Team</p>
    </div>
</article>