<div class="jumbotro jbtcusto">
    <!-- Quản lý tài nguyên-->
    <div class="list-group" style="margin-bottom: 1rem">
        <div class="list-group-item list-group-item-action active">
           Tài nguyên
        </div>
        <a href="/admin/quanlysanpham" class="list-group-item list-group-item-action DMitem" >Quản lý Sản phẩm</a>
        <a href="/admin/quanlydanhmuc" class="list-group-item list-group-item-action DMitem" >Quản lý Danh mục</a>
        <a href="/admin/quanlythuonghieu" class="list-group-item list-group-item-action DMitem" >Quản lý Thương hiệu</a>
        <a href="/admin/quanlycarousel" class="list-group-item list-group-item-action DMitem" >Quản lý Bảng quảng cáo</a>
        <a href="#" class="list-group-item list-group-item-action DMitem" >Quản lý Footer</a>

    </div>
    <!-- Quản lý nghiệp vụ-->
    <div class="list-group" style="margin-bottom: 1rem">
        <div class="list-group-item list-group-item-action active">
            Nghiệp vụ
        </div>
        <a href="#" class="list-group-item list-group-item-action DMitem" >Quản lý đơn hàng</a>
        <a href="#" class="list-group-item list-group-item-action DMitem" >Chức năng 2</a>
    </div>
    <!-- Quản lý tài khoản-->
    <div class="list-group" style="margin-bottom: 1rem">
        <div class="list-group-item list-group-item-action active">
            Tài khoản
        </div>
        <a href="#" class="list-group-item list-group-item-action DMitem" >Quản lý Tài khoản</a>
    </div>

</div>