<div class="jumbotro listgroup-scroll">
    <!-- Quản lý tài nguyên-->
    <div class="list-group" style="margin-bottom: 1rem">
        <div class="list-group-item list-group-item-action active">
            Quản lý Tài nguyên
        </div>
        <a id="QLSP" href="/admin/quanlysanpham" class="list-group-item list-group-item-action DMitem" >Sản phẩm</a>
        <a id="QLDM" href="/admin/quanlydanhmuc" class="list-group-item list-group-item-action DMitem" >Danh mục</a>
        <a id="QLTH" href="/admin/quanlythuonghieu" class="list-group-item list-group-item-action DMitem" >Thương hiệu</a>
        <a id="QLCRS" href="/admin/quanlycarousel" class="list-group-item list-group-item-action DMitem" >Carousel</a>
        <a id="QLBV" href="/admin/quanlybaiviet" class="list-group-item list-group-item-action DMitem" > Bài viết</a>
        <a id="QLMGG" href="/admin/quanlymagiamgia" class="list-group-item list-group-item-action DMitem" > Mã giảm giá</a>
    </div>

    <!-- Quản lý nghiệp vụ-->
    <div class="list-group" style="margin-bottom: 1rem">
        <div class="list-group-item list-group-item-action active">
            Quản lý Nghiệp vụ
        </div>
        <a href="#" class="list-group-item list-group-item-action DMitem" >Quản lý đơn hàng</a>
        <a href="#" class="list-group-item list-group-item-action DMitem" >Báo cáo doanh thu</a>
    </div>

    <!--Quản lý Footer-->
    <div class="list-group" style="margin-bottom: 1rem">
        <div class="list-group-item list-group-item-action active">
            Quản lý Footer
        </div>
        <a id="QLFT_MENU" href="/Admin/QuanLyFooterMenu" class="list-group-item list-group-item-action DMitem" >Menu</a>
        <a id="QLFT_CH" href="/Admin/QuanLyFooterCH" class="list-group-item list-group-item-action DMitem" >Chi nhánh cửa hàng</a>
    </div>

    <!--Cài đặt-->
    <div class="list-group" style="margin-bottom: 1rem">
        <div class="list-group-item list-group-item-action active">
            Cài đặt
        </div>
        <a id="QLCD_CH" href="/Admin/QuanLyCaiDatCauHinh" class="list-group-item list-group-item-action DMitem" >Cấu hình hệ thống</a>
        <a id="QLCD_DMK" href="/Admin/QuanLyCaiDatDoiMK" class="list-group-item list-group-item-action DMitem" >Đổi mật khẩu</a>
    </div>

</div>
<script>
    $(document).ready(function () {
        $("#<%=key%>").addClass("list-group-item-success ");
    });
</script>