<div class="jumbotro listgroup-scroll">
    <!-- Quản lý tài nguyên-->
    <div class="list-group" style="margin-bottom: 1rem">
        <div class="list-group-item list-group-item-action active">
            Quản lý Tài nguyên
        </div>
        <a id="QLSP" href="/admin/quanlysanpham" class="list-group-item  DMitem orangehover" >Sản phẩm</a>
        <a id="QLDM" href="/admin/quanlydanhmuc" class="list-group-item  DMitem orangehover" >Danh mục</a>
        <a id="QLTH" href="/admin/quanlythuonghieu" class="list-group-item  DMitem orangehover" >Thương hiệu</a>
        <a id="QLCRS" href="/admin/quanlycarousel" class="list-group-item  DMitem orangehover" >Carousel</a>
        <a id="QLBV" href="/admin/quanlybaiviet" class="list-group-item  DMitem orangehover" > Bài viết</a>
        <a id="QLMGG" href="/admin/quanlymagiamgia" class="list-group-item DMitem orangehover" > Mã giảm giá</a>
    </div>

    <!-- Quản lý nghiệp vụ-->
    <div class="list-group" style="margin-bottom: 1rem">
        <div class="list-group-item list-group-item-action active">
            Quản lý Đơn hàng
        </div>
        <a id="QLDH_CHO" href="/admin/QuanLyDonHang_DangCho" class="list-group-item DMitem orangehover" >Đơn hàng đang chờ xử lý</a>
        <a id="QLDH_SHIP" href="/admin/QuanLyDonHang_DangShip" class="list-group-item DMitem orangehover" >Đơn hàng đang ship</a>
        <a id="QLDH_HT" href="/admin/QuanLyDonHang_HoanThanh" class="list-group-item DMitem orangehover" >Đơn hàng đã hoàn thành</a>
        <a id="QLDH_HUY" href="/admin/QuanLyDonHang_Huy" class="list-group-item DMitem orangehover" >Đơn hàng bị hủy</a>
        <a id="TK" href="/admin/ThongKe" class="list-group-item DMitem orangehover" >Thống kê doanh thu</a>
    </div>

    <!--Quản lý Footer-->
    <div class="list-group" style="margin-bottom: 1rem">
        <div class="list-group-item list-group-item-action active">
            Quản lý Footer
        </div>
        <a id="QLFT_MENU" href="/Admin/QuanLyFooterMenu" class="list-group-item DMitem orangehover" >Menu</a>
        <a id="QLFT_CH" href="/Admin/QuanLyFooterCH" class="list-group-item DMitem orangehover" >Chi nhánh cửa hàng</a>
    </div>

    <!--Cài đặt-->
    <div class="list-group" style="margin-bottom: 1rem">
        <div class="list-group-item list-group-item-action active">
            Cài đặt
        </div>
        <a id="QLCD_CH" href="/Admin/QuanLyCaiDatCauHinh" class="list-group-item DMitem orangehover" >Cấu hình hệ thống</a>
        <a id="QLCD_DMK" href="/Admin/QuanLyCaiDatDoiMK" class="list-group-item DMitem orangehover" >Đổi mật khẩu</a>
    </div>

</div>
<script>
    $(document).ready(function () {
        $("#<%=key%>").addClass("list-group-item-success ");
    });
</script>