<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Asap+Condensed|Fira+Sans+Condensed&display=swap" rel="stylesheet">
    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="https://hqk.s3.us-west-1.amazonaws.com/Icon/favicon.ico"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" >
    <!-- Toastr library-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet"/>
    <!-- Datetime Picker library -->
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <style>
        body {
            font-family: 'Fira Sans Condensed', sans-serif;
            /*font-family: 'Baloo Bhai', cursive;*/
            /*font-family: 'Asap Condensed', sans-serif;*/
            font-size: 1rem;
        }
        .footer-item-color {
            color: #337ab7;
        }

        /*Stye cho nút kéo lên.*/
        #back-to-top {
            text-align: center;
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 9999;
            padding: 7px;
            text-align: center;
            background-color: red;
            color: white;
            cursor: pointer;
            border: 0;
            border-radius: 5px;
            text-decoration: none;
            transition: opacity 0.2s ease-out;
            opacity: 0;
        }

        #back-to-top:hover {
            background: #555;

        }

        #back-to-top.show {
            opacity: 1;
        }

        #content {
            height: 2000px;
        }
        .orangehover:hover {
            text-decoration: none;
            color: #ffb520;
        }
        .jbtcustom {
            padding: 0.5rem;
        }

        .carousel-SP-next,
        .carousel-SP-prev {
            filter: invert(100%);
        }

        .loadingDiv {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
       /*     position: relative;
            margin-left: auto;
            margin-right: auto;
            display: block;*/
        }
        .listgroup-scroll{
            max-height: 35rem;
            margin-bottom: 10px;
            overflow:scroll;
            overflow-x: hidden;
            -webkit-overflow-scrolling: touch;
        }
    </style>
</head>

<body>

<!-- jQuery library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" ></script>
<!-- jQuery LazyLoad -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js" ></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" ></script>
<!-- Boostrap library -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<!-- Toastr library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js" ></script>
<!-- JQuery Cookie library-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" ></script>
<!-- Easy-Loading library
<script src="https://cdn.jsdelivr.net/npm/jquery-easy-loading@2.0.0-rc.2/dist/jquery.loading.min.js"></script>-->
<!-- CK Editor library -->
<script src="https://cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>
<!-- Datetime Picker library -->
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/Admin/quanlysanpham"><i class="fas fa-store"></i> HQKStore Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <a href="/">
                <button class="btn btn-outline-primary col-12 col-sm-12"  type="submit"> Về trang người
                    dùng
                </button>
            </a> &nbsp;
            <a href="/admin/dangxuat">
                <button class="btn btn-outline-primary col-12 col-sm-12"  type="submit"> Đăng xuất
                </button>
            </a>
        </ul>

    </div>
</nav>
<div style="margin-top:70px;"></div>


<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <%- partial('../Admin/MenuDashboard') %>
        </div>
        <div class="col-sm-9">

            <%- body -%>
        </div>
    </div>
</div>
<br>

<%- partial('../ThanhPhanWeb/Footer') %>


<script>

    $('.loadingDiv')
    .hide()
    .ajaxStart(function () {
         $(this).show();
        // setTimeout(function(){ $(this).show() }, 3000);


    })
    .ajaxStop(function () {
        // $(this).hide();

        $(this).hide();
    });

    //code button top;
    if ($('#back-to-top').length) {
        var scrollTrigger = 400, // px
            backToTop = function () {
                var scrollTop = $(window).scrollTop();
                if (scrollTop > scrollTrigger) {
                    $('#back-to-top').addClass('show');
                } else {
                    $('#back-to-top').removeClass('show');
                }
            };
        backToTop();
        $(window).on('scroll', function () {
            backToTop();
        });
        $('#back-to-top').on('click', function (e) {
            e.preventDefault();
            $('html,body').animate({
                scrollTop: 0
            }, 700);
        });
    }

    //Hàm fortmat giá cho sản phẩm
    function FormartGia() {
        $('.itemPrice').text(function () {
            var str = $(this).html() + '';
            x = str.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + ',' + '$2');
            }
            $(this).html(x1 + x2);
        });
    }

    //Code Carousel;
    $('.carousel').carousel({
        interval: 2200
    });



    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "4000",
        "extendedTimeOut": "10000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }
</script>
</body>
</html>


