<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <title><%= title %></title>
    <meta property="fb:app_id" content="431101604251186"/>
    <meta charset="utf-8">

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--<link rel="shortcut icon" type="image/png" href="{{asset('img/favicon.jpeg')}}"/>-->
    <link rel="shortcut icon" type="image/png" href="https://bb4298.s3-us-west-1.amazonaws.com/favicon.ico"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <!-- Toastr library-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet"/>
    <!-- <link rel="stylesheet" type="text/css" href="../../public/stylesheets/style.css">-->

    <style>
        body {

        }

        .footer-item-color {
            color: #337ab7;
        }

        /*Stye cho nút kéo lên.*/
        #back-to-top {
            text-align: center;
            position: fixed;
            bottom: 20px;
            left: 20px;
            z-index: 9999;
            padding: 7px;
            text-align: center;
            background-color: red;
            color: white;
            cursor: pointer;
            border: 0;
            border-radius: 5px;
            text-decoration: none;
            transition: opacity 0.2s ease-out;
            opacity: 0;
        }

        #back-to-top:hover {
            background: #555;
        }

        #back-to-top.show {
            opacity: 1;
        }

        #content {
            height: 2000px;
        }

        .linksp:hover {
            text-decoration: none;
            color: #ffb520;
        }

        .carousel-SP-next,
        .carousel-SP-prev {
            filter: invert(100%);
        }

        .loadingDiv {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 3000;
            transform: translate(-50%, -50%);

        }

        .carousel-inner {
            width: 100%;
            max-height: 448px !important;
        }
    </style>

</head>
<body>
<!-- jQuery library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- jQuery LazyLoad -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
<!-- Popper Boostrap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<!-- Boostrap library -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<!-- Toastr library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<!--&lt;!&ndash; Easy-Loading library&ndash;&gt;-->
<!--<script src="https://cdn.jsdelivr.net/npm/jquery-easy-loading@2.0.0-rc.2/dist/jquery.loading.min.js"></script>-->


<%- partial('../ThanhPhanWeb/Header.ejs') %>
<%- body -%> <!--Body được load vào đây-->
<%- partial('../ThanhPhanWeb/Footer') %>

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '431101604251186',
            cookie: true,
            xfbml: true,
            version: 'v5.0'
        });
        FB.AppEvents.logPageView();
    };
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<!-- Your customer chat code -->
<div class="fb-customerchat"
     attribution=setup_tool
     page_id="104943980975549"
     greeting_dialog_display="hide"
     logged_in_greeting="Xin chào, chúng mình có thể giúp gì cho bạn không ?"
     logged_out_greeting="Xin chào, chúng mình có thể giúp gì cho bạn không ?">
</div>
</body>
<script>
    $('.loadingDiv').hide();

    $(document).on()
            .ajaxStart(function () {
                $(".loadingDiv").delay(3000).show();
            })
            .ajaxStop(function () {
                $(".loadingDiv").hide();
                $(this).unbind("ajaxStart");
            });

    //code button top;
    if ($('#back-to-top').length) {
        var scrollTrigger = 400, // px
            backToTop = function () {
                var scrollTop = $(window).scrollTop();
                if (scrollTop > scrollTrigger) {
                    $('#back-to-top').addClass('show');
                } else {
                    $('#back-to-top').removeClass('show');
                }
            };
        backToTop();
        $(window).on('scroll', function () {
            backToTop();
        });
        $('#back-to-top').on('click', function (e) {
            e.preventDefault();
            $('html,body').animate({
                scrollTop: 0
            }, 700);
        });
    }
    //Code Carousel;
    $('.carousel').carousel({
        interval: 2500
    });

    $("document").ready(function () {
        FormartGia();
    });

    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "4000",
        "extendedTimeOut": "10000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }
</script>
</html>


